@import url('https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,800;1,900&display=swap');

body{
	background-color: #FCDC4D;
	overflow-x: hidden;

}

.title{
	font-family: prompt;
	color: #373737;
	font-size: 2rem;
	font-weight: 600;

}

.bigbt{
	background-color: #ff444;
	font-family: prompt;
	font-size: 30px;
	font-weight: 600;
	color: #ffffff;
	margin: 2%;
	padding: 2%;
	border: none;
	width: 100%;

}

.bigbt:hover{
	background-color: #FF9700;
	color: #ffffff;
	border: none;
	
}

.bigbt:active{
	background-color: #FF9700;
	color: #ffffff;
	border: none;
	
}

.content{
	font-family: prompt;
	color: #373737;
	font-size: 1.5rem;
	font-weight: 600;
	text-align: center;
	padding-top: 0.5%;


}

.main{
	width: 100%;
}
